<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div>
        <%= link_to "sharerare", '#', id: "logp" %>
        <nav>
          <ul>
            <li><%= link_to "ホーム", '#' %></li>
            <li><%= link_to "投稿", '#' %></li>
          </ul>
        </nav>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
